.App {
  &__header {
    margin-top: 1em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
    color: var(--cyan-dark-3);
    font-weight: 700;
  }
  &__card {
    width: Min(876px, 92%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    background-color: white;
    padding: 2em;
    border-radius: 1.5rem;
    display: grid;
    gap: 2rem;
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
