label {
  color: var(--cyan-dark-2);
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}

.calculateTip {
  & > div + div {
    margin-top: 36px;
  }
}

.bill,
.numberOfPeople {
  --space: 10px;

  input[type="number"] {
    text-align: right;
    padding-right: var(--space);
  }

  &__input {
    margin-top: 0.5rem;
    position: relative;
    height: 40px;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 5px;

    input {
      cursor: pointer;
      height: 100%;
      width: 100%;
      font-size: 1.4rem;
      background-color: var(--cyan-light-1);
      border: none;
      outline: none;
      border-radius: 5px;
      font-family: "Space Mono", monospace;

      color: var(--cyan-dark);
      font-weight: 700;

      &:focus {
        outline: var(--cyan) 2px solid;
      }
    }

    img[alt="icon"] {
      pointer-events: none;
      position: absolute;
      left: var(--space);
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.tips {
  &--container {
    width: 100%;
    display: grid;
    gap: 0.8rem;
    // minmax(0, 1fr) to equalize the width of the columns
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  &__tip {
    width: 100%;
    padding: 0.55rem 0;
    background-color: var(--cyan-dark-3);
    text-align: center;
    color: white;
    font-weight: 700;
    border-radius: 0.2rem;
    cursor: pointer;
    user-select: none;

    &.active:not(.tips__custom) {
      background-color: var(--cyan);
      color: black;
    }

    &.custom {
      position: relative;
      color: var(--cyan-dark-2);
      background-color: var(--cyan-light-1);
      outline: none;
      border: none;
      text-align: center;
      font-size: 1.075rem;
      font-weight: 700;
      border-radius: 0.2rem;
      cursor: pointer;
      &.active {
        color: var(--cyan-dark-3);
        outline: var(--cyan) 2px solid;
      }
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

span.error {
  display: none;
}

.show-error {
  span.error {
    display: block;
    color: var(--error);
    font-weight: 600;
  }
  input.error {
    outline: var(--error) 2px solid !important;
  }
}
