.Overview {
  padding: 1.5rem;
  background-color: var(--cyan-dark-3);
  border-radius: 0.65rem;
  display: grid;
  align-content: space-between;

  .row {
    display: flex;
    justify-content: space-between;
  }
  .row + .row {
    margin-top: 2rem;
  }

  .label {
    color: var(--cyan-light-1);
    &::after {
      display: block;
      content: "/ person";
      color: var(--cyan-light-2);
      font-size: 1rem;
    }
  }
  .value {
    font-size: 2rem;
    color: var(--cyan);
  }
  #reset {
    margin-top: 5rem;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--cyan-dark-3);
    background-color: var(--cyan);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 100ms ease-out;

    &:hover {
      background-color: var(--cyan-light-2);
    }
    &.disable {
      background-color: var(--cyan-dark-2);
      cursor: not-allowed;
    }
  }
}
