@tailwind base;
@tailwind components;
@tailwind utilities;

/* REMOVE ARROWS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  @apply font-spaceMono bg-cyan-light-2;
}

#root {
  @apply relative min-h-screen;
}

.absolute-center {
  @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
